<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../assets/apoyafem.png" width="auto" height="50" class="d-inline-block" alt="">
    <span class="align-middle" style="margin-left: 10px; font-size:150%;font-family: Playfair Display,serif;font-weight: 700;font-style: normal;color: #8c588d">ApoyaFem</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" >
        <a class="nav-link" routerLink="/psicologos/list" id="elem">Psicólogos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/recorridos/list" id="elem">Abogados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/paseadores/list" id="elem">Mentoras</a>
      </li>
    </ul>
    <!-- 
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit" style="margin-right: 5px;font-size: large;font-weight: 500;" (click)= "abrirPerfilCliente()" *ngIf='esCliente()'>Mi perfil</button>
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit" style="margin-right: 5px;font-size: large;font-weight: 500;" (click)= "abrirLogIn()" *ngIf='!esCliente() && !esAdmin() && !esPaseador()'>Iniciar sesión</button>
    <button class="btn btn-light my-2 my-sm-0" type="submit" style="margin-left: 5px;font-size: large;font-weight: 500;" (click)= "openModal()" *ngIf='!esCliente() && !esAdmin() && !esPaseador()'>Registrarse</button>
    <button class="btn btn-light my-2 my-sm-0" type="submit" style="margin-left: 5px;font-size: large;font-weight: 500;" routerLink="" (click)= "cerrarSesion()" *ngIf='esCliente() || esAdmin() || esPaseador()'>Cerrar sesión</button>
  --></div> 
</nav>
<div class="page-wrapper">
    <!-- Main Router Outlet -->
    <div class="content-wrapper">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  
  
    <!-- Footer -->
    <div class="footer" id="footer">
      <div class="container-fluid">
        <div class="row" style="min-height: 5px;max-height: 5px;">
          <div class="col-12" style="background-color: #8c5888;"></div>
        </div>
      </div>
    <br>
    <ul class="flex-container center">
        <li class="flex-item"><p class="navbar-text text-center">
            <img src="../assets/apoyafem.png" alt="ApoyaFem" width="30%" />
          </p></li>
    </ul>
    </div>
  </div>
  