<div class="container-fluid">
  <h2 class="centrado">Contrato Hotel</h2>
  <div class="card horaHotel">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col">
      <h3> Cliente</h3>
        <div class="card" style="width: 15rem;"  style="height: 20rem;" id="cardCliente">
          <img class="card-img-top" src={{contratoHotelDetail.cliente.imagen}} alt="Card image cap" id="img-clientes"  style="width: 40%;"  style="height: 45%;" >
          <div class="card-body">
            <h5 class="card-title">{{contratoHotelDetail.cliente.nombre}}</h5>
            <p class="card-text">
              <strong>Identificación:</strong> {{contratoHotelDetail.cliente.identificacion}} <br>
              <strong>Teléfono:</strong> {{contratoHotelDetail.cliente.telefono}} <br>
            </p>
          </div>
        </div>
          </div>
          <div class="col">
      <h3> Perro</h3>
        <div class="card" style="width: 15rem;"  style="height: 20rem;" >
          <img class="card-img-top" src={{contratoHotelDetail.perro.imagen}} alt="Card image cap" id="img-perros">
          <div class="card-body">
            <h5 class="card-title">{{contratoHotelDetail.perro.nombre}}</h5>
            <p class="card-text">
              <strong> idPerro:</strong> {{contratoHotelDetail.perro.idPerro}} <br>
              <strong>raza:</strong> {{contratoHotelDetail.perro.raza}} <br>
            </p>
          </div>
        </div>
          </div>
        </div>
        <div class="row" *ngIf="contratoHotelDetail.calificacion!=null">
          <div class="col-12">
            <p></p>
            <div class="card">
              <div class="media">
                 <img src="{{contratoHotelDetail.cliente.imagen}}" class="align-self-start mr-3" alt="https://ui-avatars.com/api/?background=e26e2d&color=fff&size=128&bold=true&name={{contratoHotelDetail.cliente.nombre}}" style="border-radius: 50%;" height="50" width="50">
                  <div class="media-body ">
                    <div class="card border-info mb-3">
          <div class="card-header bg-info border-info" style="color: white;padding-bottom:0;padding-left: 1rem;padding-top: 0.7rem;">
            <div class="row">
              <div class="col-md-6"><h5>{{contratoHotelDetail.cliente.nombre}} dice:</h5></div>
              <div class="col-md-6" style="padding: 0;padding-bottom: 0.5rem;" data-toggle="tooltip" data-placement="top" title={{contratoHotelDetail.calificacion.valoracion}}>
                <span *ngIf="5 <= contratoHotelDetail.calificacion.valoracion" class="float-right"><img src="../../../assets/star-128.webp" alt="" width="25" height="25"></span>
                <span *ngIf="5 > contratoHotelDetail.calificacion.valoracion" class="float-right"><img src="../../../assets/star-128.webp" alt="" width="25" height="25" style="opacity: 0.5;"></span>
                <span *ngIf="4 <= contratoHotelDetail.calificacion.valoracion" class="float-right"><img src="../../../assets/star-128.webp" alt="" width="25" height="25"></span>
                <span *ngIf="4 > contratoHotelDetail.calificacion.valoracion" class="float-right"><img src="../../../assets/star-128.webp" alt="" width="25" height="25" style="opacity: 0.5;"></span>
                <span *ngIf="3 <= contratoHotelDetail.calificacion.valoracion" class="float-right"><img src="../../../assets/star-128.webp" alt="" width="25" height="25"></span>
                <span *ngIf="3 > contratoHotelDetail.calificacion.valoracion" class="float-right"><img src="../../../assets/star-128.webp" alt="" width="25" height="25" style="opacity: 0.5;"></span>
                <span *ngIf="2 <= contratoHotelDetail.calificacion.valoracion" class="float-right"><img src="../../../assets/star-128.webp" alt="" width="25" height="25"></span>
                <span *ngIf="2 > contratoHotelDetail.calificacion.valoracion" class="float-right"><img src="../../../assets/star-128.webp" alt="" width="25" height="25" style="opacity: 0.5;"></span>
                <span *ngIf="1 <= contratoHotelDetail.calificacion.valoracion" class="float-right"><img src="../../../assets/star-128.webp" alt="" width="25" height="25"></span>
                <span *ngIf="1 > contratoHotelDetail.calificacion.valoracion" class="float-right"><img src="../../../assets/star-128.webp" alt="" width="25" height="25" style="opacity: 0.5;"></span>
              </div>
            </div>
          </div>
          <div class="card-body text-info" style="padding:0.7rem;">
            <p class="card-text">{{contratoHotelDetail.calificacion.comentario}}</p>
          </div>
                    </div>
                  </div>
              </div>
            </div>
            <p></p>
          </div>
        </div>
      </div>
      <div class="col-8">
      <h4 class="centrado"> Horas Hotel </h4>
      <div class="table-responsive">
      <table class="card-table table">
        <thead class="thead-dark">
          <tr class="centrado">
              <th> Dia y Hora </th>
              <th> Cupo Maximo </th>
              <th> costo Base</th>
              <th> Disponible</th>
          </tr>
        </thead>
        <tbody>
          <tr class="centrado" *ngFor="let c of contratoHotelDetail.horasHotel">
            <td class="border">{{strToDate(c.dia)}} - {{strToTime(c.dia)}}</td>
            <td class="border">{{c.cupoMaximo}}</td>
            <td class="border">{{c.costoBase}}</td>
            <td class="border">{{c.disponible}}</td>
          </tr>
        </tbody>
      </table>
      </div>
      </div>  
    </div>
  </div>
</div>




