<div class="container-xl">
  <div *ngIf="!selected">
    <br>
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
      <strong>Acá se mostrará el recorrido seleccionado</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div *ngIf="selected">
    <app-recorrido-detail [recorridoDetail]="selectedRecorrido"></app-recorrido-detail>
  </div>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4" *ngFor = "let r of recorridos">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-6">
            <div class="card-body" style="padding-left: 2rem;">
              <div class="row align-items-start">
                <h2 class="card-title">Recorrido {{r.id}}</h2>
              </div>
              <div class="row align-items-center">
                <ul class="list-group list-group-flush" style="border-width: 10px; padding: 0;">
                  <li class="list-group-item" data-toggle="tooltip" data-placement="top" title={{r.calificacionGlobal}} style="padding-left: 0;">
                    <span *ngIf="1 <= r.calificacionGlobal"><img src="../../../assets/star-128.webp" alt="" width="40" height="40"></span>
                    <span *ngIf="1 > r.calificacionGlobal"><img src="../../../assets/star-128.webp" alt="" width="40" height="40" style="opacity: 0.5;filter: grayscale(100%);"></span>
                    <span *ngIf="2 <= r.calificacionGlobal"><img src="../../../assets/star-128.webp" alt="" width="40" height="40"></span>
                    <span *ngIf="2 > r.calificacionGlobal"><img src="../../../assets/star-128.webp" alt="" width="40" height="40" style="opacity: 0.5;filter: grayscale(100%);"></span>
                    <span *ngIf="3 <= r.calificacionGlobal"><img src="../../../assets/star-128.webp" alt="" width="40" height="40"></span>
                    <span *ngIf="3 > r.calificacionGlobal"><img src="../../../assets/star-128.webp" alt="" width="40" height="40" style="opacity: 0.5;filter: grayscale(100%);"></span>
                    <span *ngIf="4 <= r.calificacionGlobal"><img src="../../../assets/star-128.webp" alt="" width="40" height="40"></span>
                    <span *ngIf="4 > r.calificacionGlobal"><img src="../../../assets/star-128.webp" alt="" width="40" height="40" style="opacity: 0.5;filter: grayscale(100%);"></span>
                    <span *ngIf="5 <= r.calificacionGlobal"><img src="../../../assets/star-128.webp" alt="" width="40" height="40"></span>
                    <span *ngIf="5 > r.calificacionGlobal"><img src="../../../assets/star-128.webp" alt="" width="40" height="40" style="opacity: 0.5;filter: grayscale(100%);"></span>
                  </li>
                  <li class="list-group-item" style="padding-left: 0;"><h5><span class="badge badge-info">{{r.numeroCalificaciones}} calificaciones</span></h5></li>
                </ul>
              </div>
              <div class="row align-items-end" style="padding-top: 5px;">
                <button type="button" class="btn btn-outline-primary" (click)="onSelected(r)"><strong>Más información</strong></button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <app-punto-listar [puntos]="r.puntos" ></app-punto-listar>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

