<div class="container-xl">
  <div class="d-flex justify-content-center align-items-center" style="padding-top: 20px;padding-bottom: 0;"><h1><strong>Acompañamiento psicológico</strong></h1></div>
  <div *ngIf="!selected" style="padding-top: 0;">
    <br>
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
      <strong>Acá se mostrará el psicólogo seleccionado</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div *ngIf="selected" style="padding-top:20px; padding-bottom: 20px">
    <!--<app-recorrido-detail [recorridoDetail]="selectedRecorrido"></app-recorrido-detail>-->
    <div class="card border-primary">
      <div class="row no-gutters">
        <div class="col-md-4">
          <div class="card-body" style="padding-left: 2rem;">
            <div class="row align-items-start">
              <h2 class="card-title">{{selectedPaseo.nombre}}</h2>
            </div>
            <div class="row align-items-center">
              <h4 class="card-title">{{selectedPaseo.correo}}</h4>
            </div>
            <br>
            <div class="row align-items-end" style="padding-top: 5px;">
              <button type="button" class="btn btn-primary btn" ><strong>Chat</strong></button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-body" style="padding-left: 2rem;">
            <div class="row align-items-start">
              <p class="card-text"><strong>Ciudad:</strong> {{selectedPaseo.ciudadUsuario}}</p>
            </div>
            <br>
            <div class="row align-items-center">
              <p class="card-text"><strong>Acerca de: </strong>{{selectedPaseo.descripcion}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <img src={{selectedPaseo.fotoPerfil}} class="card-img">
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4" *ngFor="let c of paseos">
      <div class="card bg-light">
        <div class="row no-gutters">
          <div class="col-md-7">
            <div class="card-body" style="padding-left: 2rem;">
              <div class="row align-items-start">
                <h2 class="card-title">{{c.nombre}}</h2>
              </div>
              <div class="row align-items-center">
                <p class="card-text"><strong>{{c.ciudadUsuario}}</strong></p>
                <!--<ul class="list-group list-group-flush" style="border-width: 10px; padding: 0;">
                  <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="Calificaciones" style="padding-left: 0;">
                    <span ><img src="../../../assets/star-128.webp" alt="" width="40" height="40"></span>
                    <span ><img src="../../../assets/star-128.webp" alt="" width="40" height="40" style="opacity: 0.5;filter: grayscale(100%);"></span>
                    <span ><img src="../../../assets/star-128.webp" alt="" width="40" height="40"></span>
                    <span ><img src="../../../assets/star-128.webp" alt="" width="40" height="40" style="opacity: 0.5;filter: grayscale(100%);"></span>
                    <span ><img src="../../../assets/star-128.webp" alt="" width="40" height="40"></span>
                    <span ><img src="../../../assets/star-128.webp" alt="" width="40" height="40" style="opacity: 0.5;filter: grayscale(100%);"></span>
                    <span ><img src="../../../assets/star-128.webp" alt="" width="40" height="40"></span>
                    <span ><img src="../../../assets/star-128.webp" alt="" width="40" height="40" style="opacity: 0.5;filter: grayscale(100%);"></span>
                    <span ><img src="../../../assets/star-128.webp" alt="" width="40" height="40"></span>
                    <span ><img src="../../../assets/star-128.webp" alt="" width="40" height="40" style="opacity: 0.5;filter: grayscale(100%);"></span>
                  </li>
                  <li class="list-group-item" style="padding-left: 0;"><h5><span class="badge badge-info"> calificaciones</span></h5></li>
                </ul>-->
              </div>
              <div class="row align-items-center">
                <p class="card-text">{{c.descripcion}}</p>
              </div>
              <div class="row align-items-center">
                <br>
              </div>
              <div class="row align-items-end" style="padding-top: 5px;">
                <button type="button" class="btn btn-outline-primary" (click)="onSelected(c)"><strong>Contactar</strong></button>
              </div>
            </div>
          </div>
          <div class="col-md-5">
          <!--  <app-punto-listar [puntos]="r.puntos" ></app-punto-listar>-->
            <img src={{c.fotoPerfil}} class="card-img">
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

